<p>Are you sure you want to delete this advert?</p>

<form action="/adverts/$advert.getId()/delete" method="post">

<input type="submit" value="Yes" class="button">

</form>
<br>


 <button id="back-button", onclick="goBack()">Back</button>
        <script>
        function goBack() {
            window.history.back();
        }
        </script>