<p>$advert.getTitle()</p>
<p>$advert.getDescription()</p>
<p>$advert.getPrice()</p>
<p>$advert.getCategory()</p>

<br>

#if($comments.size() > 0)
    <p>Comments<p>
    #foreach($comment in $comments)
        <p>$comment.getText()</p>
    #end
#end

<br>
<a href="/adverts">Back</a>
