<h2>Register</h2>

<a href="/login">Back</a>



<form action="/users" method="post">
<div class="signup">
    <h3>
    <label for="username">Name:</label>
    <input class="inputbox" type="text" name="username" required="true">
    </h3>

    <h3>
    <label for="password">Password:</label>
    <input class="inputbox" type="password" name="password" required="true">
    </h3>
    <input type="submit" value="Register" class="button">

</div>
</form>
