<h3>Profile</h3>


<p>Edit Details</p>

<p>$customer.getId()</p>
<form action="/users/$customer.getId()/edit" method="post">

    <label for="username">Name:</label>
    <input class="inputbox" type="text" name="username" required="true">
    </h3>

    <h3>
    <label for="password">Password:</label>
    <input class="inputbox" type="password" name="password" required="true">
    </h3>
    <input type="submit" value="Save" class="button">

</form>



